* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    overflow-x: hidden; /* Запобігає горизонтальному скролу */
    margin: 0 auto;
    max-width: 1440px;
}
#about p {
    text-align: justify;
}

header {
    /* background-color: #f39200; */
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
.headerHome {
    border-radius: 8px;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ddd;
}

.hero {
    background: url("hero-bg2.png") no-repeat center center/cover;
    height: 740px;
    text-align: center;
    color: #fff;
    padding-top: 120px;
    opacity: 0;
    animation: fadeIn 10s forwards; /* Анімація появи */
    border-radius: 8px;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
}

.section {
    padding: 40px;
    /* background-color: #f39200; */
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
    margin: 20px 0;
    border-radius: 8px;
    opacity: 0;
    animation: fadeInUp 1.5s forwards; /* Анімація появи для секцій */
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 1s forwards; /* Анімація для заголовка */
}

.images {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Анімація появи для зображень */
}

.images img {
    width: 30%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.05); /* Ефект збільшення зображення при наведенні */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Анімація форми */
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #1a361e;
}

footer {
    background-color: #111226;
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Анімація підвалу */
}

/* Анімації */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Анімація кнопок при прокручуванні */
button {
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out forwards;
}
.material-icons {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-decoration: none;
    /* margin: 5px 80px; */
}

.facebook {
    background: #3b5998;
    color: white;
}
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    /* margin: 0; */
    padding: 1rem;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.wrapper ol {
    list-style: none;
    padding: 0;
}

.wrapper li + li {
    margin-top: 1rem;
}

.wrapper li {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: aliceblue;
    color: #000;
    text-align: justify;
    padding: 1.5rem;
    border-radius: 1rem;
    width: calc(100% - 2rem);
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.wrapper li::before {
    counter-increment: list-item;
    content: counter(list-item);
    font-size: 3rem;
    font-weight: 700;
    width: 2em;
    height: 2em;
    background: #000;
    flex: 0 0 auto;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper li:nth-child(even) {
    flex-direction: row-reverse;
    background: lavender;
    margin-right: -2rem;
    margin-left: 2rem;
}
/* footer */
.footer-distributed {
    background: #000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    border-radius: 8px;
    background-color: #000;
    border: solid 1px #fff;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #fff;
    font: normal 36px "Open Sans", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #fff;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #fff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #fff;
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #fff;
    text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;

    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .hero {
        background: url("hero-bg2.png") no-repeat center center/cover;
        height: 400px;
        text-align: center;
        color: #fff;
        padding-top: 120px;
        opacity: 0;
        animation: fadeIn 10s forwards; /* Анімація появи */
    }
    .wrapper li::before {
        font-size: 1.4rem;
    }
    .wrapper li {
        font-size: 13px;
    }
}

/* ques */

.question details div {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 1.5em;
    text-align: justify;
}

.question details div > * + * {
    margin-top: 1.5em;
}

.question details + details {
    margin-top: 0.5rem;
}

.question summary {
    list-style: none;
}

.question summary::-webkit-details-marker {
    display: none;
}

.question summary {
    border: 2px solid #fff;
    padding: 0.75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + 0.75rem + 0.75rem);
}

.question summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
    content: "↓";
    width: 1.75rem;
    height: 1.75rem;
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.question details[open] summary {
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
    text-align: justify;
}

.question details[open] summary:before {
    content: "↑";
    color: #fff;
}

.question summary:hover {
    background-color: #000;
    border: solid 1px #fff;
}

.question a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 1px 0 0;
}

.question a:hover {
    box-shadow: 0 3px 0 0;
}

.question code {
    font-family: monospace;
    font-weight: 600;
}
